/*****************
Custom Fonts Goes Here
********************/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*****************
Common Styles Goes Here
********************/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*******************
Top Section Design Goes Here 
***********************/
.top-section-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #2D25A0;
}
.top-section-headings h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    color:#FFFFFF;
    margin-bottom: 27px;
}
.top-section-headings a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color:#FFFFFF;
    background-color:#E02C6D;
    padding: 10px 24px;
    transition: background 1s linear;
}
.top-section-container:hover a{
    background: #990e41;
}
.top-section-headings i{
    margin-left: 8px;
    transition: transform .5s ease-in;
}
.top-section-container:hover i{
    transform: translateX(10px);
}
.top-section-banner img{
    width:556px;
    margin-left: 102px;
    margin-top: 49px;
    margin-bottom: 86px;
}
/**************************
Players Section Design Goes Here 
*****************************/
.players-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:30px;
    grid-row-gap: 27px;
    width: 1050px;
    margin-top: 70px;
}
.player{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 300px;
    height: 474px;
    padding: 15px;
}
.player-image img{
    width: 300px;
    height: 256px;
}
.player-name{
    font-size: 28px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player-info{
    font-size: 16px;
    color:#6C6C6C;
    ;
}

/******************
Footer Design Goes Here
*************/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-image img{
    width: 483px;
    margin-top: 158px;
}
.footer-icon{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 14px;
}
.footer-icon p{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(11, 13, 23,0.1);
    margin-top:20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icon i{
    font-size: 17px;
    color: #969BAB;
}
.footer-copyright p{
    font-size: 18px;
    margin-bottom:63px;
}








/* Responsive Design Goes Here */
@media only screen and (max-width:688px) {
    .top-section-container{
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
    }
    .top-section-banner, .top-section-headings{
        width: 80%;
    }
    .top-section-headings h1{
        font-size: 36px;
        line-height: 50px;
    }
    .top-section-banner img{
        width: 100%;
        margin-top: 50px;
        margin-left: 0;
    }
    /* .players-container{

    } */
    .players{
        grid-template-columns:1fr;
        width: 330px;
    }



    /* Footer Image */
    .footer-image img{
        width: 125.8px;
        height: 29.98px;
    }
}